<!doctype HTML>
<html lang="es">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<script src="js/aframe.min.js"></script>
<script src="js/aframe-ar.js"></script>
<body style="margin: 0px; overflow: hidden;">
  
<!-- set detectionMode and matrixCodeType to enable barcode marker detection and custom pattern files -->

<a-scene embedded vr-mode-ui="enabled: false;" arjs="debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;">

    <a-assets>
		<img id="earth-sphere" src="images/earth-sphere.jpg" />
	</a-assets>
    
    <a-marker type="pattern" url="data/kanji.patt">
        <a-sphere position="0 0.5 0" 
               material="src: #earth-sphere; transparent: true; opacity: 0.95;">
        </a-sphere>
    </a-marker>
    
    <a-entity camera></a-entity>
    
</a-scene>
</body>
</html>